html {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

body {
  margin: 0;
  overflow: hidden;
  color: white;
}

.mainDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 100%;
}

#globe-container {
  height: 100%;
  width: 50%;
  background-color: #ffffff;
}
/* 
 .title {
  font-size: 4vw;
  margin-bottom: 1vw;
}

.description {
  font-size: 1.5vw;
  position: relative;
  color: #b92b27 !important;
} 
 */
